<div class="container crf-cigar-banner">
    <div class="row">
        <div class="crf-cigar-banner--text order-sm-2 order-md-1">
            <div class="text-primary">Coming Soon!</div>
        </div>
    </div>
</div>

@code {

}