<div class="jumbotron jumbotron-fluid crf-hero d-flex">
        <div class="container d-flex flex-column justify-content-center align-items-sm-stretch align-items-md-center">
            <h1 class="col-sm-12">GET A GRIP</h1>
            <h2>20% OFF</h2>
            <p class="lead">THROUGHOUT THE SEASON</p>
        </div>
    </div>

@code {

}