<div class="container crf-cigar-banner">
        <div class="row">
            <div class="crf-cigar-banner--container d-flex justify-content-center align-items-center"><img alt="Brown Boots" class="order-sm-0 order-md-0" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-brownboots.jpg">
                <div class="crf-cigar-banner--text order-sm-2 order-md-1">
                    <div class="text-light">Couples retreat weekend</div>
                    <div class="text-secondary">Save an extra 20%</div>
                    <div class="text-primary">when you buy 2 pairs of boots</div>
                </div><img alt="Grey Boots" class="order-sm-1 order-md-2" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-greyboots.jpg"></div>
        </div>
    </div>

@code {

}