<div class="container crf-story">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#">
                <div class="crf-story--image"><img alt="Splash Chic" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-1.jpg" /></div>
                <div class="crf-story--text">
                    <h3>Splash Chic</h3>
                    <div>Women's Wet Gear</div>
                </div></a>
            </div>
            <div class="col-lg-3 col-md-6"><a href="#">
                <div class="crf-story--image"><img alt="Kid Klimbers" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-2.jpg" /></div>
                <div class="crf-story--text">
                    <h3>Kid Klimbers</h3>
                    <div>Children's Gear</div>
                </div></a>
            </div>
            <div class="col-lg-3 col-md-6"><a href="#">
                <div class="crf-story--image"><img alt="Pack It In" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-4.jpg" /></div>
                <div class="crf-story--text">
                    <h3>Pack It In</h3>
                    <div>Camping Gear</div>
                </div></a>
            </div>
            <div class="col-lg-3 col-md-6"><a href="#">
                <div class="crf-story--image"><img alt="Nature's AC" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/story-3.jpg" /></div>
                <div class="crf-story--text">
                    <h3>Nature's AC</h3>
                    <div>Men's Shorts</div>
                </div></a>
            </div>
        </div>
    </div>

@code {

}