<div class="container crf-full-banner">
        <div class="row">
            <div class="col d-md-flex align-items-md-stretch flex-md-nowrap">
                <div class="crf-full-banner--image flex-sm-grow-1">
                    <h4 class="d-lg-none">Trail Review</h4>
                </div>
                <div class="crf-full-banner--text d-flex flex-column align-items-center justify-content-center flex-sm-grow-1">
                    <h4>Trail Review</h4>
                    <div>Asphalt</div>
                    <div>National Park</div>
                    <a class="btn btn-default" href="#">See Review</a>
                </div>
            </div>
        </div>
    </div>

@code {

}